<ng-container *ngIf="{ selectedBikeStation: selectedBikeStation$ | async } as state">
  <bs-navbar class="navbar" link="../"></bs-navbar>

  <p *ngIf="!state.selectedBikeStation; else bikeStationDetails" class="error-message">
    {{ 'bikeStations.StationNotFound' | transloco }}
  </p>

  <ng-template #bikeStationDetails>
    <div #map class="map"></div>

    <bs-bike-station
      [bikeStation]="state.selectedBikeStation!"
      class="bike-station-details"
    ></bs-bike-station>
  </ng-template>
</ng-container>
